<!DOCTYPE html>
<html>
  <body>
  <h1>
    Dog-Cat-Fish
  </h1>
  <h3>
    Prank! This is *not* a {{animal}}
  </h3>
  <img src={{url}} width=400></img>
  <p>Ask the fish for instructions on how to play</p>
  <br />
  <hr />
  <i>{{month}} 2021</i>
  </body>
</html>

