<!DOCTYPE html>
<html>
  <body>
    <h1> Hello from {{name}}
    </h1>
    <ul>
      <li>
        <a href='/first'>first</a>
      </li>
      <li>page</li>
      <li>
        <a href='/cat'>cat</a>
      </li>
      <li>
        <a href='/dog'>dog</a>
      </li>
      <li>
        <a href='/fish'>fish</a>
      </li>
      <li>query</li>
      <li>
        <a href='/pet?type=cat'>cat</a>
      </li>
      <li>
        <a href='/pet?type=dog'>dog</a>
      </li>
      <li>
        <a href='/pet?type=fish'>fish</a>
      </li>
      <li>
        <a href='/facts?num=1&topic=red'>facts about</a>
      </li>
      <li>
        <a href='/facts'>facts form</a>
      </li>
      <li>
        <a href='/apod'> apod </a>
      </li>
      <li>
        <a href="./weather?lat=38.8536&long=-77.227">weather</a>
        <ul>
          <li><a href="./weather/?lat=38.627&long=-90.1994">St Louis</a></li>
          <li><a href="./weather/?lat=42.9356&long=-78.8692">Buffalo</a></li>
          <li><a href="./weather/?lat=37.8003&long=-122.4097">San Francisco</a></li>
          <li><a href="./weather/?lat=29.9574&long=-90.063">New Orleans</a></li>
          <li><a href="./weather/?lat=21.2769&long=-157.8279">Honolulu</a></li>
          <li><a href="./weather/?lat=64.8284&long=-147.809">Fairbanks</a></li>
          <li></li>
          <li><a href="./weather/?lat=38.85359">no longitude</a></li>
          <li><a href="./weather/?lat=38.85359&long=">blank longitude</a></li>
          <li><a href="./weather/?lat=38.85359&long=cat">bogus longitude</a></li>
          <li><a href="./weather/?lat=38.85359&long=99999">impossible longitude</a></li>
          <li></li>
          <li><a href="./weather/?lat=38.85359&long=-77.226975">too many digits</a></li>
          <li><a href="./weather/?lat=35&long=-75">null URL</a></li>
          <li><a href="./weather/?lat=35.0&long=-75.0">trailing zero</a></li>
          <li><a href="./weather/?lat=51.4768&long=-0.0005">not in U.S.</a></li>
          <li><a href="./weather/?lat=62.9977&long=-151.0899">unexpected problem</a></li>
       </ul>
      </li>
      <li>
        <a href="/cookie">cookie</a>
      </li>
    </ul>
    <br />
    <hr />
    <i>
      {{month}} {{year}}
    </i>
  </body>
</html>

      
	
