<!DOCTYPE html>
<html>
<h1>
	Hello, {{name}}
</h1>
This is visit #{{count}}
<br>
<a href='/user'>reload</a>
<br>
<a href='/user?reset=true'>reset</a>
<br>
<a href='/user?logout=true'>logout</a>
<br>
<a href='/login'>login</a>
</html>