<!DOCTYPE html>
<h2>Astronomy Picture of the day from NASA</h2>
<ul>
  <li> </li>
</ul>

<form action="/weather/" method="GET">
	<label>New Latitude:</label>
	<input type="number" name="lat" id="lat">
	<label>New Longitude:</label>
	<input type="number" name="long" id="long">
	<button>Get weather for new location</button>
</form>